SECRET_KEY=your_secret_key

# Set to True for development, False for production
# WARNING: Don't use DEBUG=True in production
DEBUG=False

# Allowed hosts for the application. Use a comma to separate multiple hosts
# Example: ALLOWED_HOSTS=localhost,
ALLOWED_HOSTS=localhost,